body {
  min-height: 100vh;
}

.header { 
  height: 60px; 
  /*background-color: #f6f6f6;*/
  background-color: #394652;
  color: white;
  display: flex;
  flex-direction:row;

  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header-content { 
  display: flex;
flex-direction:row;
padding-left:3%;
padding-right:2%;
flex:1;
}

.header-logo {
  flex:1;
}
.header-text {
  flex:2;
  display: flex;
  justify-content: start; /* align horizontal */
  align-items: center; /* align vertical */
  /*color: linear-gradient(to right,#f05a28 0,#e80a89 100%);*/
  color: white;
  font-size: max(3vw, 18px);
  /*text-transform: uppercase;
  font-family:"Open Sans";*/
  font-family: 'Bungee', cursive;
  /*font-style: italic;*/
}
.header-extra {
  flex:2;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: white;
}

/* Site Menu - Start */
.site-menu {
	flex: 12;
    display: flex;
	margin-left: 150px;
}


.site-menu-item {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 6px;
}

.site-menu-item-devider {
    margin-left: 4px;
    margin-right: 4px;
    height: 20px;
    background-color: white;
    width: 1px;
    align-self: flex-start;
}

.site-menu-item-text {
	  font-size: max(1vw, 10px);
    font-family: 'Bungee', cursive;
    /*font-style: italic;*/
    align-self: flex-start;
    color: white;
    text-decoration: none;
}
/* Site Menu - End */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
